[x-cloak] {
  display: none !important;
}

.title-description {
  text-align: left;
  margin-top: 2rem;
}

.title-description>p {
  font-size: 14px;
  margin-top: 0.5rem;
}

.article-form {
  margin-top: 4rem;
  border-radius: 0.375rem;
  padding: 2rem 2rem 1rem 2rem;
}

.article-form>hgroup {
  text-align: left;
  margin-bottom: 2rem;
}

.article-form>hgroup>p {
  margin-top: 0.5rem;
  font-size: 12px;
}

.inline-block {
  display: inline-block;
}

.ml-05 {
  margin-left: 0.5rem;
}

.mr-05 {
  margin-left: 0.5rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-4 {
  margin-top: 4rem;
}

.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.underline {
  text-decoration: underline !important;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.relative {
  position: relative;
}

a.no-decoration {
  --pico-text-decoration: none;
}

a.no-decoration:hover {
  --pico-text-decoration: none;
  opacity: .8;
}


ul.no-style {
  padding: 0;
  margin: 0;
}

ul.no-style>li {
  list-style-type: none !important;
  margin-bottom: 20px !important;
}


ul.errorlist {
  padding: 0;
  margin-top: -16px;
}

ul.errorlist>li {
  list-style-type: none !important;
  color: var(--pico-color-red-450) !important;
}

.pagination {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 200px;
}

.pagination>p {
  text-align: center;
}

.max-w-fit {
  max-width: fit-content;
}


.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}

.video-container iframe,
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.day-mono {
  font-size: 25px;
  font-weight: bold;
  font-family: monospace;
}