{% load django_browser_reload %}
{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pico.jade.min.css' %}">
    <link rel="stylesheet" href="{% static 'pico.colors.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script defer src="{% static 'alpinetextareagrow.js' %}"></script>
    <script defer src="{% static 'alpinejs3xx.js' %}"></script>
    <title>{% block page-title %} I'm Posting - Social Media Scheduling App {% endblock %}</title>
</head>

<body class="container-fluid">
    <nav style="border-bottom: 1px solid #696868; padding-left: 1rem; padding-right: 1rem;">
        <ul>
            <li>
                <a href="/" role="button">
                    <strong>ImPosting</strong>
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="{% url 'calendar' %}">
                    Calendar
                </a>
            </li>

            <li>
                <a href="{% url 'integrations' %}">
                    Integrations
                </a>
            </li>

            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'account' %}">
                    Account
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>


    <main class="container-fluid">

        {% block body %}

        {% endblock %}

    </main>


    {% if messages %}
    <div x-data="{modalOpen: true}">
        <dialog :open="modalOpen">
            <article @click.outside="modalOpen = false">
                <header>
                    <button @click="modalOpen = false" aria-label="Close" rel="prev"></button>
                    <p>
                        <strong>{% for message in messages %} {{ message.extra_tags }} {% endfor %}</strong>
                    </p>
                </header>
                <p>
                    {% for message in messages %} {{ message }} {% endfor %}
                </p>
            </article>
        </dialog>
    </div>
    {% endif %}

    {% django_browser_reload_script %}
</body>

</html>