{% extends "base.html" %}
{% load static %}

{% block page-title %} Integrations {% endblock %}


{% block body %}


<hgroup class="title-description container">
  <h1>🔑 Integrations</h1>

  <div x-data="{ showFullText: false }" style="margin-top: 20px;">
      <p @click="showFullText = !showFullText" x-show="!showFullText">
        Authorize app to make posts on your behalf by authorizing them in this page.
          <span x-text="showFullText ? '..less' : '..more'"></span>
      </p>
      <p @click="showFullText = !showFullText" x-show="showFullText">
          Authorize app to make posts on your behalf by authorizing them in this page.
          For Facebook, Instagram you will need to have a Facebook public page created and linked to it an Instagram
          Professional/Business account.
          The Meta Business Suite needs to be setup as well in order to post on Facebook/Instagram. For Linkedin you will need
          a Company page. For X you don't need a Company or public page.
          <span x-text="showFullText ? '..less' : '..more'"></span>
      </p>
  </div>

</hgroup>


<div class="container grid mt-4">

  <article>
    <h4>
      <i class="bi bi-facebook"></i> & <i class="bi bi-instagram"></i>
    </h4>
    {% if facebook_ok and instagram_ok %}
    <p>Token expires at {{ meta_expire }} make sure to re-authorize until then.</p> 
    {% else %}
    <p>Please click Authorize button to allow this app to publish posts on your behalf.</p>
    {% endif %}

    <div style="display: flex; justify-content: end;">
      <div style="display: flex; gap: 1rem;">
        {% if facebook_ok and instagram_ok %}
        <a href="{% url 'facebook_uninstall' %}" role="button" class="outline secondary">
          Deauthorize
        </a>
        {% endif %}
        <a href="{% url 'facebook_login' %}" role="button" {% if not facebook_ok %} class="pico-background-red-600" {% endif %}>
          Authorize
        </a>
      </div>
    </div>
  </article>


  <article>
    <h4><i class="bi bi-linkedin"></i></h4>

    {% if linkedin_ok %}
    <p>Token expires at {{ linkedin_expire }} make sure to re-authorize until then.</p>
    {% else %}
    <p>Please click Authorize button to allow this app to publish posts on your behalf.</p>
    {% endif %}

    <div style="display: flex; justify-content: end;">
      <div style="display: flex; gap: 1rem;">

        {% if linkedin_ok %}
        <a href="{% url 'linkedin_uninstall' %}" role="button" class="outline secondary">
          Deauthorize
        </a>
        {% endif %}

        <a href="{% url 'linkedin_login' %}" role="button" {% if not linkedin_ok %} class="pico-background-red-600" {% endif %}>
          Authorize
        </a>
      </div>
    </div>
  </article>


  <article>
    <h4><i class="bi bi-twitter-x"></i></h4>
    {% if x_ok %}
    <p>Token expires at {{ x_expire }}, but we can refresh the token automatically.</p>
    {% else %}
    <p>Please click Authorize button to allow this app to publish posts on your behalf.</p>
    {% endif %}
    <div style="display: flex; justify-content: end;">
      <div style="display: flex; gap: 1rem;">
        {% if x_ok %}
        <a href="{% url 'x_uninstall' %}" role="button" class="outline secondary">
          Deauthorize
        </a>
        {% endif %}
        <a href="{% url 'x_login' %}" role="button" {% if not x_ok %} class="pico-background-red-600" {% endif %}>
          Authorize
        </a>
      </div>
    </div>
  </article>

</div>


{% endblock %}