{% extends "base.html" %}
{% load static %}

{% block page-title %} Integrations {% endblock %}


{% block body %}


<hgroup class="title-description container">
  <h1>🔑 Integrations</h1>
  <p>
    Authorize app to make posts on your behalf by authorizing them in this page.
  </p>
</hgroup>


<div class="container mt-4">

  <article>
    <h4>
      <i class="bi bi-facebook"></i> & <i class="bi bi-instagram"></i>
    </h4>
    <p>
      {% if facebook_ok %}
      All good to post.
      {% else %}

    <p>Urls to put in your facebook/instagram app. Same app can be used to post on both Facebook and Instagram.</p>

    <p>Redirect url:</p>
    <div style="display: flex;" x-data="{ url: '{{facebook_redirect_url}}', copied: false }">
      <pre style="padding: 1rem;" x-text="url"></pre>
      <i style="cursor: pointer; margin-top: .7rem;" @click="
            navigator.clipboard.writeText(url).then(() => {
                copied = true;
                setTimeout(() => copied = false, 3000);
            })
        " class="bi bi-clipboard">
        <span x-text="copied ? 'Copied!' : 'Copy'"></span>
      </i>
    </div>

    <p>The uninstall/delete url:</p>
    <div style="display: flex;" x-data="{ url: '{{facebook_uninstall_url}}', copied: false }">
      <pre style="padding: 1rem;" x-text="url"></pre>
      <i style="cursor: pointer; margin-top: .7rem;" @click="
            navigator.clipboard.writeText(url).then(() => {
                copied = true;
                setTimeout(() => copied = false, 3000);
            })
        " class="bi bi-clipboard">
        <span x-text="copied ? 'Copied!' : 'Copy'"></span>
      </i>
    </div>

    {% endif %}
    </p>

    <div style="display: flex; justify-content: end;">
      <div style="display: flex; gap: 1rem;">
        {% if facebook_ok %}
        <a href="{% url 'facebook_uninstall' %}" role="button" class="outline">
          Deauthorize
        </a>
        {% endif %}
        <a href="{% url 'facebook_login' %}" role="button" {% if not facebook_ok %} class="pico-background-red-600" {% endif %}>
          Authorize
        </a>
      </div>
    </div>
  </article>


  <article>
    <h4><i class="bi bi-linkedin"></i></h4>

    {% if linkedin_ok %}
    <p>All good to post.</p>
    {% else %}

    <p>Redirect url you need to put in the app:</p>

    <div style="display: flex;" x-data="{ url: '{{linkedin_redirect_url}}', copied: false }">
      <pre style="padding: 1rem;" x-text="url"></pre>
      <i style="cursor: pointer; margin-top: .7rem;" @click="
            navigator.clipboard.writeText(url).then(() => {
                copied = true;
                setTimeout(() => copied = false, 3000);
            })
        " class="bi bi-clipboard">
        <span x-text="copied ? 'Copied!' : 'Copy'"></span>
      </i>
    </div>

    {% endif %}

    <div style="display: flex; justify-content: end;">
      <div style="display: flex; gap: 1rem;">

        {% if linkedin_ok %}
        <a href="{% url 'linkedin_uninstall' %}" role="button" class="outline">
          Deauthorize
        </a>
        {% endif %}

        <a href="{% url 'linkedin_login' %}" role="button" {% if not linkedin_ok %} class="pico-background-red-600" {% endif %}>
          Authorize
        </a>
      </div>
    </div>
  </article>


  <article>
    <h4><i class="bi bi-twitter-x"></i></h4>
    {% if x_ok %}
    <p>All good to post.</p>
    {% else %}

    <p>Redirect url you need to put in the app:</p>

    <div style="display: flex;" x-data="{ url: '{{x_redirect_url}}', copied: false }">
      <pre style="padding: 1rem;" x-text="url"></pre>
      <i style="cursor: pointer; margin-top: .7rem;" @click="
            navigator.clipboard.writeText(url).then(() => {
                copied = true;
                setTimeout(() => copied = false, 3000);
            })
        " class="bi bi-clipboard">
        <span x-text="copied ? 'Copied!' : 'Copy'"></span>
      </i>
    </div>

    {% endif %}
    <div style="display: flex; justify-content: end;">
      <div style="display: flex; gap: 1rem;">
        {% if x_ok %}
        <a href="{% url 'x_uninstall' %}" role="button" class="outline">
          Deauthorize
        </a>
        {% endif %}
        <a href="{% url 'x_login' %}" role="button" {% if not x_ok %} class="pico-background-red-600" {% endif %}>
          Authorize
        </a>
      </div>
    </div>
  </article>

</div>


{% endblock %}