{% extends "base.html" %}
{% load static %}

{% block page-title %} Cheltuieli {% endblock %}


{% block body %}

<article class="article-form mt-4 container" style="max-width: 600px;">

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}

        <p class="text-bold">Login:</p>

        <label for="id_username">
            Username:
            <input type="text" name="username" id="id_username">
        </label>

        <label for="id_password">
            Password:
            <input type="password" name="password" id="id_password">
        </label>

        <div class="mt-2">
            <button type="submit">
                <i class="bi bi-person"></i>
                LOGIN
            </button>
        </div>

    </form>
</article>

{% endblock %}