{% extends "base.html" %}
{% load static %}

{% block page-title %} SocialSched - Schedule posts on Instagram, Facebook, X, Linkedin {% endblock %}


{% block body %}

<div style="display: flex; flex-direction: column; align-items: center; margin-top: 5rem;">

    <h1>Schedule posts on Instagram, Facebook, X, Linkedin!</h1>
    <p>
        Keep a consistent online presence of your business or personal brand by posting every day.
    </p>

    <img height="300px" width="300px" style="margin-top: 2rem;" src="{% static 'hero-image.png' %}" alt="">

    <a style="margin-top: 2rem;" role="button" href="{% url "social:begin" "google-oauth2" %}?next=/">
        <i class="bi bi-google"></i>
        Login with Google
    </a>
    <small style="margin-top: 1rem;" class="pico-color-slate-550">
        Check FAQ below for more details!
    </small>

</div>


<div class="container" style="display: flex; flex-direction: column; margin-top: 6rem; margin-bottom: 6rem;">

    <h1 style="display: block; text-align: center; margin-bottom: 2rem;">FAQ</h1>


    <details>
        <summary>How much does it cost?</summary>
        <p>
        <ul>
            <li>First month is FREE! After that I will contact you via email and ask you which plan you would like:</li>
            <li><strong>😎 Vibe Poster Plan:</strong> 0.3$ per published post.</li>
            <li><strong>🫡 Committed Poster Plan:</strong> 47$ for 12 months.</li>
        </ul>
        </p>
    </details>


    <details>
        <summary>How it works?</summary>
        <p>
            <strong>You can schedule a post with text + image on Facebook, Instagram, LinkedIn, X.</strong>

        <p>✍️ Facebook public page and Instagram professional account need to be linked into Meta Business Suite!
            Posts will be published on the Facebook public page and the Instagram professional account.
        </p>
        <ul>
            <li>
                1 Facebook Public Page
            </li>
            <li>
                1 Instagram Profesional account
            </li>
        </ul>

        <p>✍️ You must have a LinkedIn company page! Posts will be published on LinkedIn account linked to that company
            page.</p>
        <ul>
            <li>1 Linkedin account</li>
        </ul>

        <p>✍️ An X account is enough here. Posts will be published on that X account.</p>
        <ul>
            <li>1 X account</li>
        </ul>

        </p>
    </details>

    <details>
        <summary>Can I post videos?</summary>
        <p>
            No, but it's planned.
        </p>
    </details>

    <details>
        <summary>What if I don't like it?</summary>
        <p>
            You have 30 days free to see if this social media app scheduler, one among a dozen, is the right one for you.
        </p>
    </details>

    <details>
        <summary>How will I pay if I like it?</summary>
        <p>
            After the first free month I'll contact you via the email you've logged in and ask you for the plan you
            choosed (Vibe Poster or Committed Poster Plan) and some details needed for future invoice.
            <br>
            If you chosed Vibe Poster Plan I'll send you an invoice monthly based on published posts (0.3$ per published
            post).
            <br>
            If you chosed Committed Poster Plan I'll send you an invoice of 47$ for a 12 months period.
        </p>
    </details>



    <details>
        <summary>Is this app open-source?</summary>
        <p>
            Yes. The code for this app is open-source.
            <br>
            Check it out at this 
            <a href="https://github.com/ClimenteA/social-media-posts-scheduler">GitHub Repository</a>.
            Make sure to leave a ⭐ (star) if you like it.
        </p>
    </details>



    <details>
        <summary>Privacy & GDPR Policy</summary>
        <p>
            This app is hosted on a secure VPS and utilizes the latest
            up-to-date packages and best practices to protect your information.

            Your data is collected solely for the following purposes:

        <ul>
            <li>Authentication within the app</li>
            <li>Publishing scheduled posts on social media</li>
            <li>Generating invoices based on usage</li>
        </ul>

        I implemented SSL encryption and other security measures to protect your information. However, as with all
        online applications, complete security cannot be guaranteed.

        By using this app, you grant permission for necessary access to Google for authentication and Facebook,
        Instagram, LinkedIn, and X for social media publishing. You can review and manage these permissions at any
        time through your respective account settings.

        Additionally, under GDPR regulations, you have the following rights:

        <ul>
            <li>Access and review the personal data we store</li>
            <li>Request corrections or deletions of your data</li>
            <li>Withdraw consent for data processing</li>
        </ul>

        For further details or privacy-related inquiries, feel free to contact me at alinclimente@softgata.com.
        </p>
    </details>


    <details>
        <summary>Terms and conditions</summary>
        <p>

            Any form of abuse, misuse, or malicious activity that compromises user data or the proper functionality of
            this application will result in a permanent ban. This includes, but is not limited to, unauthorized access
            attempts, spamming, exploitation of vulnerabilities, or any behavior that may harm the platform or its
            users.

            <br> <br>
            Business details:
        <ul>
            <li>Name: CLIMENTE ALIN IONEL PFA</li>
            <li>Location: Iasi, Romania, Europe</li>
            <li>Tax id: 43000098</li>
            <li>Email: alinclimente@softgata.com</li>
            <li>Linkedin: https://www.linkedin.com/in/climente-alin/</li>
            <li>Website: https://softgata.com/</li>
        </ul>

        </p>
    </details>


</div>


{% endblock %}