{% extends "base.html" %}
{% load static %}

{% block page-title %} SocialSched - Schedule posts on Instagram, Facebook, X, Linkedin {% endblock %}


{% block body %}

<div style="display: flex; flex-direction: column; align-items: center; margin-top: 2rem;">

    <h1 style="text-align: center;">Schedule posts on Instagram, Facebook, X, Linkedin!</h1>
    <p style="max-width: 800px; text-align: center;">
        Keep a consistent online presence of your business or personal brand by posting every day and
        get more leads in the process.
    </p>

    <img height="350px" width="350px" style="margin-top: 2rem;" src="{% static 'hero-image.png' %}" alt="">

    <a style="margin-top: 2rem;" role="button" href="{% url "social:begin" "google-oauth2" %}?next=/">
        <i class="bi bi-google"></i>
        Join with Google
    </a>
    <small style="margin-top: 2rem; text-align: center;" class="pico-color-slate-550">
        Check below for more details
        <br>
        <i class="bi bi-chevron-down"></i>
    </small>

</div>


    
<table class="container" style="margin-top: 6rem;">
    <thead>
        <tr>
            <th>🛑 Without ImPosting</th>
            <th>✅ With ImPosting</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Schedule/Post on LinkedIn</td>
            <td>Skip copy/pasting and app swiching just schedule post on ImPosting 🤩</td>
        </tr>
        <tr>
            <td>Copy and schedule/Post on X</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Copy and schedule/Post on Meta Business</th>
            <td>-</td>
        </tr>
    </tbody>
</table>



<div class="container" style="margin-top: 6rem;">

    <hgroup style="display: block; text-align: center; margin-bottom: 4rem;">
        <h1>Screenshots</h1>
        <p>Some screenshots of the app. It's simple. Nothing fancy. Just post.</p>
    </hgroup>

    <div style="display: flex; flex-direction: column; gap: 2rem;">

        <div style="display: flex; flex-direction: column; justify-content: center;">
            <strong>Integrations</strong>
            <p>
                Allow ImPosting to post on your behalf. Click on Authorize button. 
                If you don't see your posts published come on this page and click on Authorize button again (the token expired and the app needs a new one). 
            </p>
            <img src="{% static 'integrations.png' %}" alt="imposting integrations">
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center;">
            <strong>Calendar</strong>
            <p>
                A simple calendar where you can see the days you have posts or not. Select day or click Post Today button.
            </p>
            <img src="{% static 'calendar.png' %}" alt="imposting calendar">
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center;">
            <strong>Schedule</strong>
            <p>
                Just a simple form to write your post and add a image.
            </p>
            <img src="{% static 'schedule.png' %}" alt="imposting schedule">
        </div>

        <div style="display: flex; flex-direction: column; justify-content: center;">
            <strong>Post</strong>
            <p>
                You can view posts for selected day below the schedule form. 
                The social media icons will turn green once published (click on them to view the post on those platforms).
                Images will be deleted once the post is published to save some disk space.
            </p>
            <img src="{% static 'post.png' %}" alt="imposting post">
        </div>
    </div>
    
</div>



<div class="container" style="display: flex; flex-direction: column; margin-top: 6rem; margin-bottom: 6rem;">

    <hgroup style="display: block; text-align: center; margin-bottom: 4rem;">
        <h1>FAQ</h1>
        <p>Here are probably the answers for all your questions related to this social media scheduling app.</p>
    </hgroup>


    <details>
        <summary>How much does it cost?</summary>
        <p>
        <ul>
            <li>First month is FREE! After that I will contact you via email and ask you which plan you would like:</li>
            <li><strong>😎 Vibe Poster Plan:</strong> 0.3$ per published post.</li>
            <li><strong>🫡 Committed Poster Plan:</strong> 47$ for 12 months.</li>
        </ul>
        </p>
    </details>


    <details>
        <summary>Is is good for me?</summary>
        <p>
            <strong>You can schedule a post with text + image on Facebook, Instagram, LinkedIn, X.</strong>

        <p>✍️ Facebook public page and Instagram professional account need to be linked into Meta Business Suite!
            Posts will be published on the Facebook public page and the Instagram professional account.
        </p>
        <ul>
            <li>
                1 Facebook Public Page
            </li>
            <li>
                1 Instagram Profesional account
            </li>
        </ul>

        <p>✍️ You must have a LinkedIn company page! Posts will be published on LinkedIn account linked to that company
            page.</p>
        <ul>
            <li>1 Linkedin account</li>
        </ul>

        <p>✍️ An X account is enough here. Posts will be published on that X account.</p>
        <ul>
            <li>1 X account</li>
        </ul>

        </p>
    </details>

    <details>
        <summary>Can I post videos?</summary>
        <p>
            No, but it's planned. TikTok and YouTube as well.
        </p>
    </details>


    <details>
        <summary>Does it have analytics?</summary>
        <p>
            No. Turn on notifications - if you have many notifications you did good if not you need to improve.
        </p>
    </details>


    <details>
        <summary>Why is posting constantly important?</summary>
        <p>
            It helps you get in front of your leads.
            It helps your possible clients make the decision to choose you instead of your competition.
        </p>
    </details>


    <details>
        <summary>What if I don't like this app?</summary>
        <p>
            You have 30 days free to see if this social media app scheduler, one among a dozen, is the right one for
            you.
        </p>
    </details>

    <details>
        <summary>How will I pay if I like it?</summary>
        <p>
            After the first free month I'll contact you via the email you've logged in and ask you for the plan you
            choosed (Vibe Poster or Committed Poster Plan) and some details needed for future invoice.
            <br>
            If you chosed Vibe Poster Plan I'll send you an invoice monthly based on published posts (0.3$ per published
            post).
            <br>
            If you chosed Committed Poster Plan I'll send you an invoice of 47$ for a 12 months period.
        </p>
    </details>


    <details>
        <summary>Why I don't see here Threads, Mastodon, Bluesky etc.?</summary>
        <p>
            They are not supported. Not sure if they will ever be included in this app.
            TikTok and YouTube are a maybe in the roadmap.
        </p>
    </details>

    <details>
        <summary>Why only login with Google is supported?</summary>
        <p>
            It's the easiest way to make sure new accounts are real. Everyone has a Google account nowadays.
        </p>
    </details>

    <details>
        <summary>Is this app open-source?</summary>
        <p>
            Yes. The code for this app is open-source. You can host this app yourself if you want.
            <br>
            Check it out at this
            <a href="https://github.com/ClimenteA/social-media-posts-scheduler">GitHub Repository</a>.
            Make sure to leave a ⭐ (star) if you like it.
        </p>
    </details>


    <details>
        <summary>Privacy & GDPR Policy</summary>
        <p>
            This app is hosted on a secure VPS and utilizes the latest
            up-to-date packages and best practices to protect your information.

            Your data is collected solely for the following purposes:

        <ul>
            <li>Authentication within the app</li>
            <li>Publishing scheduled posts on social media</li>
            <li>Generating invoices based on usage</li>
        </ul>

        I implemented SSL encryption and other security measures to protect your information. However, as with all
        online applications, complete security cannot be guaranteed.

        By using this app, you grant permission for necessary access to Google for authentication and Facebook,
        Instagram, LinkedIn, and X for social media publishing. You can review and manage these permissions at any
        time through your respective account settings.

        Additionally, under GDPR regulations, you have the following rights:

        <ul>
            <li>Access and review the personal data we store</li>
            <li>Request corrections or deletions of your data</li>
            <li>Withdraw consent for data processing</li>
        </ul>

        For further details or privacy-related inquiries, feel free to contact me at alinclimente@softgata.com.
        </p>
    </details>


    <details>
        <summary>Terms and conditions</summary>
        <p>

            Any form of abuse, misuse, or malicious activity that compromises user data or the proper functionality of
            this application will result in a permanent ban. This includes, but is not limited to, unauthorized access
            attempts, spamming, exploitation of vulnerabilities, or any behavior that may harm the platform or its
            users.

            <br> <br>
            Business details:
        <ul>
            <li>Name: CLIMENTE ALIN IONEL PFA</li>
            <li>Location: Iasi, Romania, Europe</li>
            <li>Tax id: 43000098</li>
            <li>Email: alinclimente@softgata.com</li>
            <li>Linkedin: https://www.linkedin.com/in/climente-alin/</li>
            <li>Website: https://softgata.com/</li>
        </ul>

        </p>
    </details>

</div>


<div style="display: flex; flex-direction: column; justify-content: center; margin-bottom: 12rem;">
    <h1 style="text-align: center;">😁 Looks good for you?</h1>

    <a style="margin-top: 2rem;" role="button" href="{% url "social:begin" "google-oauth2" %}?next=/">
        <i class="bi bi-google"></i>
        Join with Google
    </a>

    <small style="margin-top: 2rem; text-align: center;" class="pico-color-yellow-200">
        You'll get 30 days FREE to test it! 
    </small>

</div>

{% endblock %}