{% extends "base.html" %}
{% load static %}

{% block page-title %} Schedule posts {% endblock %}


{% block body %}


<script defer src="{% static 'emoji-mart.js' %}"></script>


<div class="container" style="display: flex; justify-content: space-between;">

    <a href="{% url 'calendar' %}?year={{ year }}">
        <i class="bi bi-arrow-left"></i>
        BACK
    </a>

    <div>

        <a href="{% url 'schedule_form' isodate=prev_date %}" style="margin-right: 1rem;">
            <i class="bi bi-chevron-left"></i>-
        </a>
        <a href="{% url 'schedule_form' isodate=today %}" style="margin-right: 1rem;">
            NOW
        </a>
        <a href="{% url 'schedule_form' isodate=next_date %}">
            -<i class="bi bi-chevron-right"></i>
        </a>

    </div>
</div>


<p style="text-align: center; font-weight: bold; margin-top: 2rem;">{{ current_date }} <sup>{{ posts|length }} posts</sup></p>


{% if show_form %}

<article class="article-form mt-2 container">

    <form x-data="formData" action="{% url 'schedule_save' isodate=isodate %}?modify_post_id={{ modify_post_id }}"
        method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        <div style="display: flex; align-items: center; flex-wrap: wrap; margin-bottom: 2rem;">

            <div style="margin-right: 2rem;" x-data="timePicker()">
                
                <label style="display: none;" for="{{ post_form.scheduled_on.id_for_label }}">
                    Schedule on:
                    {{ post_form.scheduled_on }}
                    {{ post_form.scheduled_on.errors }}
                </label>
    
                <label style="max-width: fit-content;" for="id_scheduled_on_time">
                    At time:
                    <input type="time" id="id_scheduled_on_time" 
                    x-model="timeValue" @input="updateDatetime($event.target.value)">
                </label>
            </div>

            <label style="display: none;" for="{{ post_form.post_timezone.id_for_label }}">
                Timezone:
                {{ post_form.post_timezone }}
                {{ post_form.post_timezone.errors }}
            </label>

            <div style="display: flex; gap: 10px; margin-top: 1rem; flex-wrap: wrap;">

                <label for="{{ post_form.post_on_facebook.id_for_label }}">
                    <i class="bi bi-facebook"></i>
                    {{ post_form.post_on_facebook }}
                    {{ post_form.post_on_facebook.errors }}
                </label>

                <label for="{{ post_form.post_on_instagram.id_for_label }}">
                    <i class="bi bi-instagram"></i>
                    {{ post_form.post_on_instagram }}
                    {{ post_form.post_on_instagram.errors }}
                </label>

                <label for="{{ post_form.post_on_x.id_for_label }}">
                    <i class="bi bi-twitter-x"></i>
                    {{ post_form.post_on_x }}
                    {{ post_form.post_on_x.errors }}
                </label>

                <label for="{{ post_form.post_on_linkedin.id_for_label }}">
                    <i class="bi bi-linkedin"></i>
                    {{ post_form.post_on_linkedin }}
                    {{ post_form.post_on_linkedin.errors }}
                </label>

            </div>
            
        </div>

        <div x-data="emojiPicker()">

            <label for="{{ post_form.description.id_for_label }}">
                Post:
                <textarea x-data x-grow @input="countLength" name="{{ post_form.description.name }}" cols="40" rows="3"
                    maxlength="63207" required
                    id="{{ post_form.description.id_for_label }}">{% if post_form.description.value %}{{ post_form.description.value }}{% endif %}</textarea>
                {{ post_form.description.errors }}
                <div style="display: flex; justify-content: end; margin-top: -18px;">
                    <small class="pico-color-slate-450" x-text="postLength"></small>
                </div>
                <div style="display: flex; flex-direction: column;">
                    <small x-text="xfreelenerr" class="pico-color-amber-300"></small>
                    <small x-text="instagramlenerr" class="pico-color-amber-300"></small>
                    <small x-text="linkedinlenerr" class="pico-color-amber-300"></small>
                    <small x-text="xbluelenerr" class="pico-color-amber-300"></small>
                    <small x-text="facebooklenerr" class="pico-color-amber-300"></small>
                </div>
            </label>

            <div x-data="{ isVisible: window.innerWidth >= 758 }"
                x-init="window.addEventListener('resize', () => isVisible = window.innerWidth >= 758)">
               <template x-if="isVisible">
                   <div style="display: flex; justify-content: right; position: relative;">
                       <div style="position: absolute; top: -10rem; right: 4rem;" id="emoji" x-show="showEmojiPicker"
                           @click.away="showEmojiPicker = false">
                       </div>
           
                       <button class="outline" type="button" @click="togglePicker">
                           <i class="bi bi-emoji-smile"></i>
                       </button>
                   </div>
               </template>
           </div>
           
        </div>

        <label for="{{ post_form.media_file.id_for_label }}"">
            Image (jpg, jpeg, png):
            {{ post_form.media_file }}
            {{ post_form.media_file.errors }}
        </label>

        <div>
            <button type="submit">
                <i class="bi bi-save"></i>
                Schedule post
            </button>
        </div>

    </form>
</article>
{% else %}

{% if not posts %}
<p style="text-align: center; margin-top: 4rem;" class="pico-color-slate-600">No posts on this past date.</p>
{% endif %}

{% endif %}

<div class="mt-4"></div>
<div style="max-width: 900px; margin: 0 auto;">

    {% for post in posts %}
    <article>
        <div style="display: flex; justify-content: end;">
            <small class="pico-color-slate-450">{{ post.scheduled_on }}</small>
        </div>

        <p>{{ post.description }}</p>

        {% if post.media_file %}
        <div x-data="{fullScreen: false}" style="display: flex; justify-content: center;">
            <div x-show="!fullScreen">
                <img @click="fullScreen = true" src="{{ post.media_file.url }}" alt="Media file"
                    style="max-width: 100%; height: 350px; object-fit: contain; margin-bottom: 1rem; margin-top: 1rem; border-radius: 5px;">
            </div>

            <dialog :open="fullScreen" @click="fullScreen = false">
                <img src="{{ post.media_file.url }}" alt="Media file"
                    style="max-width: 100%; height: 100%; object-fit: contain; margin-bottom: 1rem; margin-top: 1rem; border-radius: 5px;">
            </dialog>
        </div>
        {% endif %}

        {% if post.posted %}
        <div class="mt-1">

            <p class="pico-color-slate-450">Posted links:</p>

            <div style="display: flex; align-items: center; gap: 1rem; margin-top: -15px;">

                {% if post.link_instagram %}
                <a target="_blank" href="{{ post.link_instagram }}"><i class="bi bi-instagram"></i></a>
                {% endif %}

                {% if post.link_facebook %}
                <a target="_blank" href="{{ post.link_facebook }}"><i class="bi bi-facebook"></i></a>
                {% endif %}

                {% if post.link_x %}
                <a target="_blank" href="{{ post.link_x }}"><i class="bi bi-twitter-x"></i></a>
                {% endif %}

                {% if post.link_linkedin %}
                <a target="_blank" href="{{ post.link_linkedin }}"><i class="bi bi-linkedin"></i></a>
                {% endif %}

            </div>

        </div>
        {% else %}
        <p class="pico-color-slate-450">Will be posted on:</p>

        <div style="display: flex; align-items: center; gap: 1rem; margin-top: -15px;">

            {% if post.post_on_instagram %}
            <i class="bi bi-instagram"></i>
            {% endif %}

            {% if post.post_on_facebook %}
            <i class="bi bi-facebook"></i>
            {% endif %}

            {% if post.post_on_x %}
            <i class="bi bi-twitter-x"></i>
            {% endif %}

            {% if post.post_on_linkedin %}
            <i class="bi bi-linkedin"></i>
            {% endif %}

        </div>

        {% endif %}


        <div style="display: flex; gap: 1rem; justify-content: end;">
            {% if not modify_post_id %}
            <a href="{% url 'schedule_modify' post_id=post.id %}" class="pico-color-green-500">
                <i class="bi bi-pencil-square"></i> Modify
            </a>
            {% endif %}
            <a href="{% url 'schedule_delete' post_id=post.id %}" class="pico-color-red-500">
                <i class="bi bi-trash"></i> Delete
            </a>
        </div>


    </article>
    {% endfor %}

</div>

<script>

    document.addEventListener("DOMContentLoaded", function () {
        const timezoneInput = document.getElementById("id_post_timezone");
        if (timezoneInput && !timezoneInput.value) {
            timezoneInput.value = Intl.DateTimeFormat().resolvedOptions().timeZone;
        }
    });

    function timePicker() {
        return {
            timeValue: '',

            init() {
                const now = new Date();
                now.setHours(now.getHours() + 1);
                this.timeValue = now.toTimeString().substring(0, 5);
                this.updateDatetime(this.timeValue);
            },

            updateDatetime(time) {
                const datetimeInput = document.getElementById('{{ post_form.scheduled_on.id_for_label }}');
                if (!datetimeInput) return;

                let datePart;
                if (datetimeInput.value) {
                    datePart = datetimeInput.value.split('T')[0];
                } else {
                    const today = new Date();
                    datePart = today.toISOString().split('T')[0];
                }
                datetimeInput.value = `${datePart}T${time}`;
            }
        };
    }


    function emojiPicker() {
        let activeInput = null;

        return {
            showEmojiPicker: false,
            togglePicker() {
                this.showEmojiPicker = !this.showEmojiPicker;
                if (!document.getElementById('picker')) {
                    const pickerOptions = {
                        theme: "dark",
                        onEmojiSelect: (emoji) => {
                            if (activeInput) {
                                activeInput.value += emoji.native;
                            }
                        }
                    };
                    const picker = new EmojiMart.Picker(pickerOptions);
                    picker.id = 'picker';
                    const emojiEl = document.getElementById("emoji");
                    emojiEl.appendChild(picker);
                }
            },
            init() {
                document.addEventListener('focusin', (event) => {
                    if (event.target.tagName === 'TEXTAREA' || event.target.tagName === 'INPUT') {
                        activeInput = event.target;
                    } else {
                        activeInput = document.getElementById("id_description");
                    }
                });
            }
        };
    }

    function formData() {

        const text_max_length = {
            "X_free": 280,
            "X_blue": 4000,
            "instagram": 2200,
            "facebook": 63206,
            "linkedin": 3000,
        }

        return {
            postLength: 0,
            xfreelenerr: "",
            xbluelenerr: "",
            instagramlenerr: "",
            facebooklenerr: "",
            linkedinlenerr: "",
            countLength: function (event) {
                this.postLength = event.target.value.length;

                if (this.postLength >= text_max_length.X_free) {
                    this.xfreelenerr = `X Free ${text_max_length.X_free} allowed characters reached`;
                } else {
                    this.xfreelenerr = "";
                }

                if (this.postLength >= text_max_length.X_blue) {
                    this.xbluelenerr = `X Blue ${text_max_length.X_blue} allowed characters reached`;
                } else {
                    this.xbluelenerr = "";
                }

                if (this.postLength >= text_max_length.instagram) {
                    this.instagramlenerr = `Instagram ${text_max_length.instagram} allowed characters reached`;
                } else {
                    this.instagramlenerr = "";
                }

                if (this.postLength >= text_max_length.facebook) {
                    this.facebooklenerr = `Facebook ${text_max_length.facebook} allowed characters reached`;
                } else {
                    this.facebooklenerr = "";
                }

                if (this.postLength >= text_max_length.linkedin) {
                    this.linkedinlenerr = `Linkedin ${text_max_length.linkedin} allowed characters reached`;
                } else {
                    this.linkedinlenerr = "";
                }

            }
        }
    }

</script>



{% endblock %}