{% extends "base.html" %}
{% load static %}

{% block page-title %} Account {% endblock %}


{% block body %}


<article class="article-form mt-4 container" style="max-width: 800px;">

    <h4>Hi {{ user.username }}!</h4>

    <p>You've created the account with Google for email: <strong>{{ user.email }}</strong></p>

    
    <div style="display: flex; justify-content: right;">
        <a role="button" class="secondary" href="{% url "logout" %}">
            <i class="bi bi-box-arrow-right"></i>
            Logout
        </a>
    </div>

</article>


{% endblock %}